body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}

#footer {
  background-color: #000;
}

#push, #footer {
  height: 60px;
}

.container .credit {
  margin: 20px 0;
}

.muted {
  color: #333;
}

button {
  width: 100%;
}

td, th {
  color: #fff;
}

.minime {
  width: 2rem;
  height: 2rem;
}
