<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p>
        L'utente <span id="name"><i class="fa fa-refresh fa-spin fa-fw"></i></span> ha richiesto di
        iscriversi. Decidi la sua sorte!
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success" ng-click="approve()">
        <i class="fa fa-check"></i> Approva <i class="fa fa-check"></i>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-warning" ng-click="admin()">
        <i class="fa fa-warning"></i> Approva Come Amministratore <i class="fa fa-warning"></i>
      </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-danger" ng-click="ban()">
        <i class="fa fa-bomb"></i> Banna <i class="fa fa-bomb"></i>
      </button>
    </div>
  </div>
  <hr>
</div>
