<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-default btn-facebook" ng-click="facebook_login()">
      <i class="fa fa-facebook"></i> Accedi con Facebook
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-default btn-google" ng-click="google_login()">
      <i class="fa fa-google"></i> Accedi con Google
    </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <div id="error_message" class="alert alert-danger" role="alert" style="display: none;">
      Ti sei giá registrato in precedenza con un altro account. Usa quello!
    </div>
  </div>
</div>
